.header-bar{
  text-align: center;
  background-color: palegreen;
  position: relative;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  border: 5px solid black;
}

.logout-button{
  height: 35px;
  width: 150px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}