.home {
    position: relative;
    margin-top: 15%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1%;
    float: right;
    margin-right: 10%;
}

.informercial {
  position: relative;
  margin-top: 15%;
  display: inline-block;
  margin-left: 10%;
}

label {
  display: block;
}
.faqButton {
  display: block;
  margin-top: 5px;
}

#password {
  height: 35px;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
}

#passwordConfirm {
  height: 35px;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
}

#username {
  height: 35px;
  width: 200px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.form-input{
  margin-bottom: 10px;
}

.login-button{
  height: 35px;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
}

.faqButton {
  height: 35px;
  width: 150px;
  font-size: 16px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .homeContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .home {
    padding: 15px;
    margin: 50px 0;
  }

  .form-input{
    margin-bottom: 10px;
  }

  .informercial {
    max-width: 500px;
    margin: 35px 35px 15px 35px;
    text-align: center;
  }
}